<h2>Template: <small>Dinámicos</small></h2>
<hr>

<form autocomplete="off" #miFormulario="ngForm">
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="nombre" ngModel placeholder="Nombre de la persona" required>
    </div>

    <span class="form-text text-danger" *ngIf="miFormulario.controls['nombre']?.errors && miFormulario.controls['nombre']?.touched">
      Este campo es obligatorio
    </span>
  </div>

  <!-- <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="Nombre de la persona">
    </div>
  </div> -->

  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Agregar favorito">
        <button class="btn btn-outline-primary" type="button">Agregar</button>
      </div>
    </div>
  </div>


  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <input type="text" class="form-control mb-1">
      <input type="text" class="form-control mb-1">
      <input type="text" class="form-control mb-1">
      <input type="text" class="form-control mb-1">
      <input type="text" class="form-control mb-1">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary float-end" (click)="guardar()" [disabled]="miFormulario.invalid">
        Guardar
      </button>
    </div>
  </div>

</form>
